@import 'utils/variables';
/* Tooltip container */

.tooltip {
  cursor: pointer;
  display: inline-block;
  position: relative;

  .tooltiptext {
    background-color: #555;
    border-radius: 6px;
    color: #fff;

    /* Fade in tooltip */
    opacity: 0;
    padding: 5px 0;

    /* Position the tooltip text */
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 120px;
    z-index: 1;
  }

  &.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    &::after {
      border-color: #555 transparent transparent;
      border-style: solid;
      border-width: 5px;
      content: '';
      left: 50%;
      margin-left: -5px;
      position: absolute;
      top: 100%;
    }
  }

  &.tooltip-right {
    left: 125%;
    top: -5px;

    &::after {
      border-color: transparent #555 transparent transparent;
      border-style: solid;
      border-width: 5px;
      content: '';
      margin-top: -5px;
      position: absolute;
      right: 100%;
      top: 50%;
    }
  }

  &.tooltip-bottom {
    left: 50%;
    margin-left: -60px;
    top: 135%;

    &::after {
      border-color: transparent transparent #555;
      border-style: solid;
      border-width: 5px;
      bottom: 100%;
      content: '';
      left: 50%;
      margin-left: -5px;
      position: absolute;
    }
  }

  &.tooltip-left {
    bottom: auto;
    right: 128%;
    top: -5px;

    &::after {
      border-color: transparent transparent transparent #555;
      border-style: solid;
      border-width: 5px;
      content: '';
      left: 100%;
      margin-top: -5px;
      position: absolute;
      top: 50%;
    }
  }
}

/* Tooltip text */
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
