{
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier/@typescript-eslint",
    "prettier",
    "prettier/babel",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["flowtype", "import", "jsx-a11y", "prettier", "react-hooks", "@typescript-eslint"],
  "rules": {
    "jsx-a11y/aria-role": "error",
    "jsx-a11y/anchor-is-valid": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "jsx-a11y/scope": "error",
    "array-callback-return": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "jsx-a11y/alt-text": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-loop-func": "error"
  },
  "env": {
    "browser": true,
    "node": true
  }
}